:root {
  --color-black: #000;
  --color-gray: rgb(212, 212, 212);
  --color-blue: #69b1ff;
  --color-white: #fff;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  min-height: 100dvh;
  height: 100%;
  display: flex;
  flex-direction: column;
  padding-top: 76px;
  background-color: var(--color-white);
}

.container {
  max-width: 1250px;
  padding: 0 25px;
  width: 100%;
  margin: 0 auto;
}

a {
  text-decoration: none;
  color: var(--color-black);
  display: flex;
  align-items: center;
}

ul {
  list-style-type: none;
}
