.footer {
    position: sticky;
    top: 100%;
    background-color: var(--color-orange);

    &_inner {
        display: flex;
        justify-content: center;
        padding: 8px 0;
        color: var(--color-white);
        font-size: 12px;
    }
}
