.header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;

    &_logo {
        font-size: 30px;

        span {
            color: var(--color-blue);
        }
    }

    &_inner {
        padding: 16px 0;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
}
